<?xml version="1.0" encoding="utf-8"?>

<!-- +++
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="com.almalence.opencam_plus"
      android:installLocation="auto"
      android:versionCode="65"
      android:versionName="3.28">
+++ -->
<!-- -+-  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="com.almalence.opencam"
      android:installLocation="auto"
      android:versionCode="81"
      android:versionName="3.28">
<!--  -+- -->

    <supports-screens       
                  android:smallScreens="true" 
                  android:normalScreens="true" 
                  android:largeScreens="true" 
                  android:xlargeScreens="true"
                  />
    
	<uses-permission android:name="android.permission.CAMERA" />
 	<uses-feature android:name="android.hardware.camera" android:required="false" />
	<uses-feature android:name="android.hardware.camera.front" android:required="false"/>
 	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
 	<uses-feature android:glEsVersion="0x00020000" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
<!-- -+-  -->
	<uses-permission android:name="com.android.vending.BILLING"/>
	<uses-permission android:name="org.onepf.openiab.permission.BILLING"/>
<!--  -+- -->    

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:hardwareAccelerated="true" android:largeHeap="true">
    <!-- android:debuggable="true"> -->

		<!-- +++
   		<activity android:name="com.almalence.opencam_plus.MainScreen"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
                  android:screenOrientation="portrait">
		+++ -->
		<!-- -+-  -->
		<activity android:name="com.almalence.opencam.MainScreen"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
                  android:screenOrientation="portrait">
		<!--  -+- -->
                    
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

   		<!-- +++
   		<activity android:name="com.almalence.opencam_plus.Processing"
		        		android:label="Processing"
        				android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        				
		<activity android:name="com.almalence.opencam_plus.Preferences"
				        android:label="@string/app_name"
				        android:icon="@drawable/gui_almalence_settings_more_settings"
				        android:hardwareAccelerated="true"/>
				        
		<activity android:name="com.almalence.opencam_plus.FolderPicker"
		        		android:label="@string/choose_folder"/>
		+++ -->
		<!-- -+-  -->
		<activity android:name="com.almalence.opencam.Processing"
		        		android:label="Processing"
        				android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
		
		<activity android:name="com.almalence.opencam.Preferences"
				        android:label="@string/app_name"
				        android:icon="@drawable/gui_almalence_settings_more_settings"
				        android:hardwareAccelerated="true"/>
		
		<activity android:name="com.almalence.opencam.FolderPicker"
		        		android:label="@string/choose_folder"/>
		<!--  -+- -->
				
		
		<activity android:name="com.almalence.plugins.processing.hdr.ActivityAdjustments"
		    						android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
		
		<receiver android:name=".HWButtonStart" >
		    <intent-filter android:priority="1000">         
		        <action android:name="android.intent.action.CAMERA_BUTTON" />
		        <category android:name="android.intent.category.DEFAULT" />
		    </intent-filter>            
		</receiver>
		
		<receiver android:name="com.almalence.opencam.AlarmReceiver"></receiver>

		<!-- Uncomment for Amazon market 1st part 
		<receiver android:name="com.amazon.inapp.purchasing.ResponseReceiver">
	    	<intent-filter>
	        	<action
	            	android:name="com.amazon.inapp.purchasing.NOTIFY"
	            	android:permission="com.amazon.inapp.purchasing.Permission.NOTIFY"
	    	    />
		    </intent-filter>
		</receiver>
		-->
		 
 </application>


	<!-- Uncomment for Samsung market 
	<uses-permission android:name="com.sec.android.iap.permission.BILLING" />
	-->

	<uses-sdk 	android:minSdkVersion="14"
	    		android:targetSdkVersion="21"/>
</manifest> 
